# This is an example environment file for the Songbook web app.
# Copy this file to .env and edit the values as needed.
export SONGBOOK_MUSIC_DIR=./music
export SONGBOOK_CONTENT_DIR=./content
export SONGBOOK_ADMIN_PASSWORD=admin
export SONGBOOK_LANGUAGES=en,es,fr
export SONGBOOK_LANGUAGES_DEFAULT=es
# Port for the read-only public instance (songbook-public service)
export SONGBOOK_PUBLIC_PORT=9000